 body {
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:aquamarine;
    scroll-behavior: smooth;
}

.container {
    text-align: center;
}

span {
    color:red;
}

button{
    background-color: hotpink;
    color:white;
    padding: 0.5rem 3rem;
    border:2px solid honeydew;
    box-shadow: 0 0 1px 2px rgb(0,0, 0.3);
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkseagreen;
    cursor: pointer;
}