* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(206, 187, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make body height equal to the viewport height */
    overflow: hidden; /* Disable scrolling */
}

.container {
    max-width: 500px;
    width: 90%; /* Ensure the container adjusts for smaller screens */
    background-color: azure;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;  /* Makes placeholder text disappear when focused */
}

.checkButton {
    background-color: rgb(43, 43, 255);
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
}

p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}
